body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/polaroid.png');
  font-family: 'Roboto Slab', serif;
}

.mchristensen-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.under-construction-logo-container {
  width: 61px;
  height: 61px;
  background-color: white;
  border-bottom-right-radius: 50%;
  justify-content: center;
  flex-direction: column;
}

.under-construction-logo {
  margin: auto;
  animation: under-construction-logo-spin infinite 10s linear;
}

@keyframes under-construction-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
